In [138]:
import numpy as np
import pandas as pd

import os
import re
import time
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
!ls

Data_Q8       Q8.ipynb      Q8_code.ipynb readme.md

In [3]:
data_root = './Data_Q8/'

In [4]:
user_df = pd.read_csv(os.path.join(data_root, 'users.csv'))
movie_df = pd.read_csv(os.path.join(data_root, 'movies.csv'))
rating_df = pd.read_csv(os.path.join(data_root, 'rating_train.csv'))

## Data analysis & Feature Engineering

In [87]:
user_df.head()

   UserID Gender  Age  OccupationID Zip-code  F  M Zip3  zip_label
0       1      F    1            10    48067  1  0  480        348
1       2      M    7            16    70072  0  1  700        485
2       3      M    3            15    55117  0  1  551        400
3       4      M    5             7    02460  0  1  024         17
4       5      M    3            20    55455  0  1  554        402

In [55]:
movie_df.head()

,MovieID,Title,Genres,publish_time,Action,Adventure,Animation,Children's,Comedy,Crime,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,avg_rating,rating_F,rating_M
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,4.138812,4.118774,4.191532
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,3.222581,3.194805,3.090164
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,1,0,0,0,0,3.023148,2.996774,3.224490
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.719178,2.460526,3.585635
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.029963,2.917160,2.375000

In [56]:
rating_df.head()

   UserID  MovieID  timestamps  Rating rate_year rate_month rate_day
0       1     1836   978300172       5      2001         01       01
1       1     1097   978301953       4      2001         01       01
2       1     2028   978301619       5      2001         01       01
3       1      527   978824195       5      2001         01       07
4       1     2918   978302124       4      2001         01       01

#### User based

In [8]:
user_df['Age'] = LabelEncoder().fit_transform(user_df['Age'])+1

In [9]:
user_df = user_df.join(pd.get_dummies(user_df['Gender']))

In [10]:
ocup = {
    0: 'other or not specified',
    1: 'academic/educator',
    2: 'artist',
    3: 'clerical/admin',
    4: 'college/grad student',
    5: 'customer service',
    6: 'doctor/health care',
    7: 'executive/managerial',
    8: 'farmer',
    9: 'homemaker',
    10: 'K-12 student',
    11: 'lawyer',
    12: 'programmer',
    13: 'retired',
    14: 'sales/marketing',
    15: 'scientist',
    16: 'self-employed',
    17: 'technician/engineer',
    18: 'tradesman/craftsman',
    19: 'unemployed',
    20: 'writer'
}

In [79]:
user_df['Zip3'] = user_df['Zip-code'].map(lambda x: x[:3])
user_df['zip_label'] = LabelEncoder().fit_transform(user_df['Zip3'])

In [80]:
len(user_df['zip_label'].unique())

678

#### Movie based

In [12]:
pattern = re.compile('\d+')
movie_df['publish_time'] = movie_df['Title'].map(lambda x: pattern.findall(x)[-1])

In [13]:
types = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary',
         'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 
         'Thriller', 'War', 'Western']
for g in types:
    movie_df[g] = 0
    movie_df[g]=movie_df[g].mask(np.array([g in gen.split('|') for gen in movie_df['Genres']]), 1)

#### relations

In [14]:
rating_df['rate_year'] = rating_df['timestamps'].map(lambda x: time.strftime("%Y-%m-%d-%H-%M-%S", time.localtime(x)))

rating_df['rate_month'] = rating_df['rate_year'].map(lambda x: x.split('-')[1])
rating_df['rate_day'] = rating_df['rate_year'].map(lambda x: x.split('-')[2])
rating_df['rate_year'] = rating_df['rate_year'].map(lambda x: x.split('-')[0])

In [16]:
temp = pd.merge(rating_df, user_df[['UserID','Age','OccupationID','Zip-code','F','M']], how='left', on='UserID')

In [17]:
temp

,UserID,MovieID,timestamps,Rating,rate_year,rate_month,rate_day,Age,OccupationID,Zip-code,F,M
0,1,1836,978300172,5,2001,01,01,1,10,48067,1,0
1,1,1097,978301953,4,2001,01,01,1,10,48067,1,0
2,1,2028,978301619,5,2001,01,01,1,10,48067,1,0
3,1,527,978824195,5,2001,01,07,1,10,48067,1,0
4,1,2918,978302124,4,2001,01,01,1,10,48067,1,0
5,1,2692,978301570,4,2001,01,01,1,10,48067,1,0
6,1,260,978300760,4,2001,01,01,1,10,48067,1,0
7,1,938,978301752,4,2001,01,01,1,10,48067,1,0
8,1,1022,978300055,5,2001,01,01,1,10,48067,1,0
9,1,1207,978300719,4,2001,01,01,1,10,48067,1,0
10,1,1193,978300760,5,2001,01,01,1,10,48067,1,0
11,1,1197,978302268,3,2001,01,01,1,10,48067,1,0
12,1,595,978824268,5,2001,01,07,1,10,48067,1,0
13,1,720,978300760,3,2001,01,01,1,10,48067,1,0
14,1,594,978302268,4,2001,01,01,1,10,48067,1,0
15,1,2398,978302281,4,2001,01,01,1,10,48067,1,0
16,1,3105,978301713,5,2001,01,01,1,10,48067,1,0
17,1,3114,978302174,4,2001,01,01,1,10,48067,1,0
18,1,661,978302109,3,2001,01,01,1,10,48067,1,0
19,1,1287,978302039,5,2001,01,01,1,10,48067,1,0
20,1,1721,978300055,4,2001,01,01,1,10,48067,1,0
21,1,783,978824291,4,2001,01,07,1,10,48067,1,0
22,1,1961,978301590,5,2001,01,01,1,10,48067,1,0
23,1,745,978824268,3,2001,01,07,1,10,48067,1,0
24,1,531,978302149,4,2001,01,01,1,10,48067,1,0
25,1,2340,978300103,3,2001,01,01,1,10,48067,1,0
26,1,2791,978302188,4,2001,01,01,1,10,48067,1,0
27,1,2294,978824291,4,2001,01,07,1,10,48067,1,0
28,1,3186,978300019,4,2001,01,01,1,10,48067,1,0
29,1,2804,978300719,5,2001,01,01,1,10,48067,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
800163,6040,1283,960971931,4,2000,06,14,3,6,11106,0,1
800164,6040,2391,956705112,4,2000,04,26,3,6,11106,0,1
800165,6040,373,964828652,4,2000,07,29,3,6,11106,0,1
800166,6040,1206,957717631,4,2000,05,08,3,6,11106,0,1
800167,6040,573,956704056,4,2000,04,26,3,6,11106,0,1
800168,6040,1228,956716777,5,2000,04,26,3,6,11106,0,1
800169,6040,2463,956716132,2,2000,04,26,3,6,11106,0,1
800170,6040,1974,956716478,1,2000,04,26,3,6,11106,0,1
800171,6040,2439,960972720,4,2000,06,14,3,6,11106,0,1
800172,6040,2802,956716262,2,2000,04,26,3,6,11106,0,1
800173,6040,910,957716717,4,2000,05,08,3,6,11106,0,1
800174,6040,994,960972693,3,2000,06,14,3,6,11106,0,1
800175,6040,1185,956715569,5,2000,04,26,3,6,11106,0,1
800176,6040,1594,964828599,3,2000,07,29,3,6,11106,0,1
800177,6040,1952,957717017,5,2000,05,08,3,6,11106,0,1
800178,6040,912,956704191,5,2000,04,26,3,6,11106,0,1
800179,6040,1250,957716949,4,2000,05,08,3,6,11106,0,1
800180,6040,3703,964828575,4,2000,07,29,3,6,11106,0,1
800181,6040,2575,997453762,4,2001,08,10,3,6,11106,0,1
800182,6040,3067,956715383,4,2000,04,26,3,6,11106,0,1
800183,6040,1962,956715569,3,2000,04,26,3,6,11106,0,1
800184,6040,1254,957716795,5,2000,05,08,3,6,11106,0,1
800185,6040,908,957716673,4,2000,05,08,3,6,11106,0,1
800186,6040,1188,964828503,4,2000,07,29,3,6,11106,0,1
800187,6040,2312,956715714,3,2000,04,26,3,6,11106,0,1
800188,6040,2300,963272000,5,2000,07,11,3,6,11106,0,1
800189,6040,2241,956716541,1,2000,04,26,3,6,11106,0,1
800190,6040,2641,956716343,2,2000,04,26,3,6,11106,0,1
800191,6040,800,960972032,4,2000,06,14,3,6,11106,0,1
800192,6040,1704,956704887,3,2000,04,26,3,6,11106,0,1

In [50]:
temp_movie = temp.groupby('MovieID').agg({
    'Rating': 'mean'
})
temp_movie = temp_movie.reset_index().rename(index=str, columns={'Rating': 'avg_rating'})

movie_df = pd.merge(movie_df, temp_movie, how='left', on='MovieID')

In [51]:
temp_movie = temp.groupby(['MovieID', 'F']).agg({
    'Rating': 'mean'
})

In [52]:
temp_movie = temp_movie.reset_index()
emp_df = temp_movie[['MovieID']].drop_duplicates(subset=['MovieID'], keep='first')

emp_df['rating_F'] = temp_movie.query('F=="0"')['Rating']
emp_df['rating_M'] = temp_movie.query('F=="1"').reset_index()['Rating']

In [54]:
# temp_movie = temp_movie.reset_index().rename(index=str, columns={'Rating': 'avg_rating'})
movie_df = pd.merge(movie_df, emp_df, how='left', on='MovieID')

In [84]:
rating_df

        UserID  MovieID  timestamps  Rating rate_year rate_month rate_day
0            1     1836   978300172       5      2001         01       01
1            1     1097   978301953       4      2001         01       01
2            1     2028   978301619       5      2001         01       01
3            1      527   978824195       5      2001         01       07
4            1     2918   978302124       4      2001         01       01
5            1     2692   978301570       4      2001         01       01
6            1      260   978300760       4      2001         01       01
7            1      938   978301752       4      2001         01       01
8            1     1022   978300055       5      2001         01       01
9            1     1207   978300719       4      2001         01       01
10           1     1193   978300760       5      2001         01       01
11           1     1197   978302268       3      2001         01       01
12           1      595   978824268       5      2001         01       07
13           1      720   978300760       3      2001         01       01
14           1      594   978302268       4      2001         01       01
15           1     2398   978302281       4      2001         01       01
16           1     3105   978301713       5      2001         01       01
17           1     3114   978302174       4      2001         01       01
18           1      661   978302109       3      2001         01       01
19           1     1287   978302039       5      2001         01       01
20           1     1721   978300055       4      2001         01       01
21           1      783   978824291       4      2001         01       07
22           1     1961   978301590       5      2001         01       01
23           1      745   978824268       3      2001         01       07
24           1      531   978302149       4      2001         01       01
25           1     2340   978300103       3      2001         01       01
26           1     2791   978302188       4      2001         01       01
27           1     2294   978824291       4      2001         01       07
28           1     3186   978300019       4      2001         01       01
29           1     2804   978300719       5      2001         01       01
...        ...      ...         ...     ...       ...        ...      ...
800163    6040     1283   960971931       4      2000         06       14
800164    6040     2391   956705112       4      2000         04       26
800165    6040      373   964828652       4      2000         07       29
800166    6040     1206   957717631       4      2000         05       08
800167    6040      573   956704056       4      2000         04       26
800168    6040     1228   956716777       5      2000         04       26
800169    6040     2463   956716132       2      2000         04       26
800170    6040     1974   956716478       1      2000         04       26
800171    6040     2439   960972720       4      2000         06       14
800172    6040     2802   956716262       2      2000         04       26
800173    6040      910   957716717       4      2000         05       08
800174    6040      994   960972693       3      2000         06       14
800175    6040     1185   956715569       5      2000         04       26
800176    6040     1594   964828599       3      2000         07       29
800177    6040     1952   957717017       5      2000         05       08
800178    6040      912   956704191       5      2000         04       26
800179    6040     1250   957716949       4      2000         05       08
800180    6040     3703   964828575       4      2000         07       29
800181    6040     2575   997453762       4      2001         08       10
800182    6040     3067   956715383       4      2000         04       26
800183    6040     1962   956715569       3      2000         04       26
800184    6040     1254   957716795       5      2000         05       08
800185    6040      908   957716673       4      2000         05       08
800186    6040     1188   964828503       4      2000         07       29
800187    6040     2312   956715714       3      2000         04       26
800188    6040     2300   963272000       5      2000         07       11
800189    6040     2241   956716541       1      2000         04       26
800190    6040     2641   956716343       2      2000         04       26
800191    6040      800   960972032       4      2000         06       14
800192    6040     1704   956704887       3      2000         04       26

[800193 rows x 7 columns]

In [57]:
movie_df

,MovieID,Title,Genres,publish_time,Action,Adventure,Animation,Children's,Comedy,Crime,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,avg_rating,rating_F,rating_M
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,4.138812,4.118774,4.191532
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,3.222581,3.194805,3.090164
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,1,0,0,0,0,3.023148,2.996774,3.224490
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.719178,2.460526,3.585635
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.029963,2.917160,2.375000
5,6,Heat (1995),Action|Crime|Thriller,1995,1,0,0,0,0,1,...,0,0,0,0,1,0,0,3.884248,3.915395,3.924915
6,7,Sabrina (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,1,0,0,0,0,3.409756,3.270742,3.666667
7,8,Tom and Huck (1995),Adventure|Children's,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,2.967213,2.666667,3.428571
8,9,Sudden Death (1995),Action,1995,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.666667,2.694118,4.229607
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995,1,1,0,0,0,0,...,0,0,0,0,1,0,0,3.527457,3.544992,2.269231
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995,0,0,0,0,1,0,...,0,0,1,0,0,0,0,3.772338,3.687023,3.662338
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.383459,2.276786,3.000000
12,13,Balto (1995),Animation|Children's,1995,0,0,1,1,0,0,...,0,0,0,0,0,0,0,3.246753,3.089286,3.463964
13,14,Nixon (1995),Drama,1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.508197,3.445545,2.888889
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995,1,1,0,0,0,0,...,0,0,1,0,0,0,0,2.491525,2.365385,4.018868
15,16,Casino (1995),Drama|Thriller,1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3.786885,3.824601,3.304348
16,17,Sense and Sensibility (1995),Drama|Romance,1995,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4.021341,3.809231,3.968397
17,18,Four Rooms (1995),Thriller,1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3.323077,3.373832,4.038298
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.474359,2.542735,3.727273
19,20,Money Train (1995),Action,1995,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.536232,2.528000,4.363636
20,21,Get Shorty (1995),Action|Comedy|Drama,1995,1,0,0,0,1,0,...,0,0,0,0,0,0,0,3.645814,3.641355,2.758621
21,22,Copycat (1995),Crime|Drama|Thriller,1995,0,0,0,0,0,1,...,0,0,0,0,1,0,0,3.374214,3.352679,2.846154
22,23,Assassins (1995),Thriller,1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2.841584,2.811765,3.215054
23,24,Powder (1995),Drama|Sci-Fi,1995,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3.156627,3.186701,3.153226
24,25,Leaving Las Vegas (1995),Drama|Romance,1995,0,0,0,0,0,0,...,0,0,1,0,0,0,0,3.646113,3.723282,4.500000
25,26,Othello (1995),Drama,1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.623377,3.607843,5.000000
26,27,Now and Then (1995),Drama,1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.866667,2.833333,2.777778
27,28,Persuasion (1995),Romance,1995,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4.074830,3.962963,3.441176
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,1995,0,1,0,0,0,0,...,0,0,0,1,0,0,0,4.098101,4.114068,1.000000
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.592593,3.652174,3.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi,1959,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.512500,2.566667,NaN
3854,3924,Pajama Party (1964),Comedy,1964,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.869565,2.800000,NaN
3855,3925,Stranger Than Paradise (1984),Comedy,1984,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.886598,3.820513,NaN
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi,1961,0,1,0,0,0,0,...,0,0,0,1,0,0,0,3.362416,3.333333,NaN
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi,1966,0,1,0,0,0,0,...,0,0,0,1,0,0,0,3.588015,3.574561,NaN
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror,1948,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.425806,3.455285,NaN
3859,3929,"Bank Dick, The (1940)",Comedy,1940,0,0,0,0,1,0,...,0,0,0,0,0,0,0,4.054054,4.094737,NaN
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror,1954,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.286667,3.309524,NaN
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi,1959,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.190476,2.294118,NaN
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,1933,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3.765432,3.751938,NaN
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi,1959,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.153846,2.200000,NaN
3864,3934,Kronos (1957),Sci-Fi,1957,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2.909091,3.000000,NaN
3865,3935,Kronos (1973),Horror,1973,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.062500,3.066667,NaN
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller,1943,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3.812500,3.600000,NaN
3867,3937,Runaway (1984),Sci-Fi|Thriller,1984,0,0,0,0,0,0,...,0,0,0,1,1,0,0,2.907216,2.891304,NaN
3868,3938,"Slumber Party Massacre, The (1982)",Horror,1982,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.000000,2.235294,NaN
3869,3939,"Slumber Party Massacre II, The (1987)",Horror,1987,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.750000,1.937500,NaN
3870,3940,"Slumber Party Massacre III, The (1990)",Horror,1990,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.642857,1.900000,NaN
3871,3941,Sorority House Massacre (1986),Horror,1986,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.052632,2.200000,NaN
3872,3942,Sorority House Massacre II (1990),Horror,1990,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.052632,2.176471,NaN
3873,3943,Bamboozled (2000),Comedy,2000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.144737,3.000000,NaN
3874,3944,Bootmen (2000),Comedy|Drama,2000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2.000000,1.250000,NaN
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's,2000,0,1,1,1,0,0,...,0,0,0,0,0,0,0,1.512195,1.411765,NaN
3876,3946,Get Carter (2000),Action|Drama|Thriller,2000,1,0,0,0,0,0,...,0,0,0,0,1,0,0,2.300000,2.298701,NaN
3877,3947,Get Carter (1971),Thriller,1971,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3.444444,3.450000,NaN
3878,3948,Meet the Parents (2000),Comedy,2000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3.615894,3.614828,NaN
3879,3949,Requiem for a Dream (2000),Drama,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4.069231,4.142857,NaN
3880,3950,Tigerland (2000),Drama,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.700000,3.687500,NaN
3881,3951,Two Family House (2000),Drama,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.857143,4.047619,NaN
3882,3952,"Contender, The (2000)",Drama|Thriller,2000,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3.757396,3.760000,NaN

#### Combination

In [60]:
user_df.columns

Index(['UserID', 'Gender', 'Age', 'OccupationID', 'Zip-code', 'F', 'M'], dtype='object')

In [88]:
mov_cols = ['MovieID', 'publish_time', 'Action', 'Adventure',
           'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama',
           'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
           'Sci-Fi', 'Thriller', 'War', 'Western', 'avg_rating', 'rating_F', 'rating_M']
usr_cols = ['UserID', 'Age', 'OccupationID', 'zip_label', 'F', 'M']

In [89]:
rating_df = pd.merge(rating_df[['UserID','MovieID','timestamps','Rating','rate_year']], user_df[usr_cols], how='left', on='UserID')
rating_df = pd.merge(rating_df, movie_df[mov_cols], how='left', on='MovieID')

In [99]:
medium_rf = rating_df['rating_F'].quantile(0.5)
medium_rm = rating_df['rating_M'].quantile(0.5)

rating_df[['rating_F']] = rating_df[['rating_F']].fillna(medium_rf)
rating_df[['rating_M']] = rating_df[['rating_M']].fillna(medium_rm)

In [110]:
rating_df[['avg_rating']].isna().any()

avg_rating    False
dtype: bool

In [111]:
rating_df['rating_F'] = rating_df['rating_F']*rating_df['F']
rating_df['rating_M'] = rating_df['rating_M']*rating_df['M']

In [119]:
rating_df['rate_year'] = rating_df['rate_year'].astype(int)
rating_df['publish_time'] = rating_df['publish_time'].astype(int)

### Modeling

In [158]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_absolute_error

In [159]:
train_x = rating_df.drop(['UserID','MovieID','Rating','timestamps'], axis=1)
train_y = rating_df['Rating']

In [160]:
x_train, x_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.2)

In [161]:
xgb = XGBRegressor(booster='gblinear', n_estimators=500, max_depth=3)
pred_y = xgb.fit(x_train, y_train).predict(x_test)
pred_y = [round(x) if x < 5.5 else 5 for x in pred_y]

print('accruracy =', accuracy_score(y_test, pred_y))
print('rmse',math.sqrt(mean_absolute_error(y_test, pred_y)))

accruracy = 0.37295909122151477
rmse 0.878524685128167

In [162]:
xgb = XGBRegressor(booster='gbtree', n_estimators=600, max_depth=4)
pred_y = xgb.fit(x_train, y_train).predict(x_test)
pred_y = [round(x) if x < 5.5 else 5 for x in pred_y]
print('accruracy =', accuracy_score(y_test, pred_y))
print('rmse',math.sqrt(mean_absolute_error(y_test, pred_y)))

accruracy = 0.39298545979417515
rmse 0.84901372137151

In [155]:
train_x.head()

,UserID,MovieID,timestamps,rate_year,Age,OccupationID,zip_label,F,M,publish_time,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,avg_rating,rating_F,rating_M
0,1,1836,978300172,2001,1,10,348,1,0,1998,...,0,0,0,0,0,0,0,3.242718,3.191781,0.0
1,1,1097,978301953,2001,1,10,348,1,0,1982,...,0,0,0,1,0,0,0,3.954650,3.903698,0.0
2,1,2028,978301619,2001,1,10,348,1,0,1998,...,0,0,0,0,0,1,0,4.323810,4.388424,0.0
3,1,527,978824195,2001,1,10,348,1,0,1993,...,0,0,0,0,0,1,0,4.506593,4.486204,0.0
4,1,2918,978302124,2001,1,10,348,1,0,1986,...,0,0,0,0,0,0,0,4.108392,4.124113,0.0

### Output

In [163]:
test_df = pd.read_csv(os.path.join(data_root, 'rating_test.csv'))

In [164]:
test_df['rate_year'] = test_df['timestamps'].map(lambda x: time.strftime("%Y-%m-%d-%H-%M-%S", time.localtime(x)))
test_df['rate_year'] = test_df['rate_year'].map(lambda x: x.split('-')[0])

In [165]:
test_df = pd.merge(test_df[['UserID','MovieID','timestamps','rate_year']], user_df[usr_cols], how='left', on='UserID')
test_df = pd.merge(test_df, movie_df[mov_cols], how='left', on='MovieID')

medium_rf = rating_df['rating_F'].quantile(0.5)
medium_rm = rating_df['rating_M'].quantile(0.5)

test_df[['rating_F']] = test_df[['rating_F']].fillna(medium_rf)
test_df[['rating_M']] = test_df[['rating_M']].fillna(medium_rm)

In [166]:
test_df['rating_F'] = test_df['rating_F']*rating_df['F']
test_df['rating_M'] = test_df['rating_M']*rating_df['M']

In [167]:
test_df['rate_year'] = test_df['rate_year'].astype(int)
test_df['publish_time'] = test_df['publish_time'].astype(int)

In [168]:
test_df.columns

Index(['UserID', 'MovieID', 'timestamps', 'rate_year', 'Age', 'OccupationID',
       'zip_label', 'F', 'M', 'publish_time', 'Action', 'Adventure',
       'Animation', 'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'avg_rating', 'rating_F',
       'rating_M'],
      dtype='object')

In [173]:
test_x = test_df.drop(['UserID','MovieID','timestamps'],axis=1)
xgb = XGBRegressor(booster='gbtree', n_estimators=600, max_depth=3)
xgb.fit(train_x, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=600,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [174]:
pred_y = xgb.predict(test_x)
pred_y = [round(x) if x < 5.5 else 5 for x in pred_y]
test_df['Rating'] = pred_y

In [175]:
test_df[['UserID', 'MovieID', 'Rating']].to_csv('./Q8_output.csv')